<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ping_2020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ping_2020.Properties.Settings>
            <setting name="ping_2020_WebReference_authorityService" serializeAs="String">
                <value>http://172.16.33.140:8080/seeyon/services/authorityService.authorityServiceHttpSoap11Endpoint/</value>
            </setting>
            <setting name="ping_2020_messageService_messageService" serializeAs="String">
                <value>http://172.16.33.140:8080/seeyon/services/messageService.messageServiceHttpSoap11Endpoint/</value>
            </setting>
        </ping_2020.Properties.Settings>
    </applicationSettings>
</configuration>